{% extends "base.html" %}
{% load bootstrap4 %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">

      <div class="container card border border-danger" style="background-color:#e0dada; width: 50rem; color:#8c000c">
        <div card-body>
          {% if user_form_errors  %}
          <h4>Validation Error</h4>
          <h6>Check these fileds:</h6>
          {% endif %}

          {% if user_form_errors %}
            <ul>
              {% for error in user_form_errors %}
              <li>
                {{ error }}
              </li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>
      </div>

        <form class="form-group" method="post">
          {% csrf_token %}

          {% bootstrap_form form %}

          {% buttons %}
            <button class="btn btn-primary" type="submit" name="button">Change Password</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
</div>

{% endblock %}
