<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PAS</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <!-- Alternative to Bootstrap 3 Glyphicons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    <!-- Favicons -->
    <link href='{% static "assets/img/logo_small.jpg" %}' rel="icon">
    <!-- <link href='{% static "assets/img/apple-touch-icon.png" %}' rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href='{% static "assets/css/style.css" %}' rel="stylesheet">
    <!--  <link href='{% static "css/main.css" %}' rel="stylesheet">-->

    <!--  contains multiple select picker-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


    <!--  export excel file-->
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

</head>

<style>
    .bootstrap-select {
        width: 600px !important;
    }

    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }


    body {
        font-family: Merriweather, Georgia, "times new roman", serif;
        color: #222;
    }


    font {
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 400;
        font-stretch: normal;
        font-size: 18px;
        line-height: 1.8;
        font-family: Merriweather, Georgia, "times new roman", serif;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: justify;
        margin-top: 0px;
        margin-bottom: 1rem;
    }


    a {
        color: #1bac91;
    }

    a:hover {
        color: #22d8b6;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Merriweather, Georgia, "times new roman", serif;
    }


</style>

<body>
<!-- ======= Header ======= -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <div class="row container">
            <div class="col-md-2">
                <div class="navbar-header">
                    <a style="font-size:25px;" class="navbar-brand" href='{% url "index" %}'>NewsFeed</a>
                </div>

            </div>


            <div class="col-md-1"></div>

            <div class="col-md-9" style="float:right;">
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class=" navbar-nav dropdown">
                        <li class="nav-item active ">
                            <a class="nav-link" href='{% url "index" %}'>Home</a>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link" href='{% url "user:register" %}'>Register</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href='{% url "user:everything" %}'>All Top Headlines</a>
                        </li>

                        {% if user.is_authenticated %}

                            {% if user.is_superuser %}
                                <li class="nav-item dropdown dropdown2">
                                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Status: Superuser
                                    </a>
                                    <div class="dropdown-menu dropdown-content"
                                         aria-labelledby="navbarDropdownMenuLink">

                                        <a class="dropdown-item" href="/admin/">Admin</a>
                                        <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                                    </div>
                                </li>

                            {% else %}

                                {% if current_user.chosen %}
                                    {% comment %}<li class="nav-item ">
                                        <a class="nav-link "
                                           style="cursor: not-allowed; pointer-events: all !important;"
                                           href="javascript:void(0)"
                                           title="Can't set filter more than once"
                                           style=""
                                        >Setup Settings</a>
                                    </li>{% endcomment %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href='{% url "user:user_settings" %}'>Setup Settings</a>
                                    </li>

                                    <li class="nav-item ">
                                        <a class="nav-link" href='{% url "user:filtered_newsfeed" %}'>Filtered
                                            Newsfeed</a>
                                    </li>

                                {% else %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href='{% url "user:user_settings" %}'>Setup Settings</a>
                                    </li>
                                {% endif %}

                                <li class="nav-item dropdown dropdown2">
                                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Status: User
                                    </a>
                                    <div class="dropdown-menu dropdown-content"
                                         aria-labelledby="navbarDropdownMenuLink">

                                        <a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a>
                                        <a class="dropdown-item" href="{% url 'user:change_password' %}">Change
                                            password</a>
                                        <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                            </li>

                        {% endif %}

                    </ul>
                </div>

            </div>

            <div class="col-md-0" style="width:80px;
                                    height:80px;
                                    top:10px;
                                    right:10px;
                                    z-index: 3;
                                    position:absolute;">
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

        </div>
    </div>
</nav>

<div style="padding-top:100px;">
    {% block body_block %}

    {% endblock %}
</div>
<br>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

            <div class="footer-info" style="text-align:center;">
                <h3> &#169; PAS -
                    <span>
                University Project allocation system <br>
              </span>
                </h3>
            </div>

        </div>
    </div>

</footer><!-- End Footer -->


</body>


</html>


